# Supabase Configuration
SUPABASE_URL=https://mffovzvhhywqzvwvtbao.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1mZm92enZoaHl3cXp2d3Z0YmFvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDkwMDI1OSwiZXhwIjoyMDg2NDc2MjU5fQ._psBIElbwqeL9RxcHB8FbKqyI5pIbpnqmgDvIZ0kDMo
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1mZm92enZoaHl3cXp2d3Z0YmFvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA5MDAyNTksImV4cCI6MjA4NjQ3NjI1OX0.6yJeKuLt3KYG1wV8WKo0gq1eMbskqn5Mcs9p0KLthwY
SUPABASE_JWT_SECRET=EBST08gNqINkmbDbuzZ6MfL8KzUMdMjEJi6AVGYm6QxgF9/oHMFhMcNFiQeyK+ypf8SyhMBp9xHXo205K1Q1Ng==
SUPABASE_PROJECT_REF=mffovzvhhywqzvwvtbao

# Admin Configuration
ADMIN_DASHBOARD_EMAIL=mudholkishor@gmail.com
ADMIN_DASHBOARD_PASSWORD=CIO@#2026
ADMIN_SETUP_TOKEN=test-1234567890

# Server Configuration
PORT=3000